{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="stack">
    <div class="container">
{% if user.is_authenticated %}
<h1> {{ user.username }}'s Monitor Editor</h1>

 <form action= "{% url 'monitor:index' %}" method="post">
     {% csrf_token %}
     {{ form }}

     <button id="submit-button" type="submit" name="edit" value="{{ name }}" class="btn btn-primary">Submit</button>

 </form>
 
 <form action= "{% url 'monitor:index' %}" method="post">
     {% csrf_token %}
     <button id="submit-button" type="submit" name="remove" value="{{ name }}" class="btn btn-primary">Delete</button>

 </form>


  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
    </div>
</div>
{% endblock %}
